{% extends "layout.html" %}
{% block page_content %}
{% for post in posts %}
<article class="media content-section">
  <div class="d-flex align-items-center">
    <img class="img-fluid rounded-circle article-img mr-3"
      src="{{ url_for('static',filename='profile_pic/'+post.author.img_file) }}" alt="Profile Photo of author">
    <div style="margin-left: 10px;">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted" style="font-size: 0.75rem;">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
      </div>
    </div>
  </div>
  <div class="media-body">
    <h2><a class="article-title" href="{{ url_for('post',post_id=post.id) }}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
<hr>
{% endfor %}
{% endblock page_content %}